/* defining variables */

	$equal-align:center;
	$no-show:none;
	$all-show:block;
	$my-font: 'Rubik';
	$full-width:100%;
	$no-padding:0px 0px 0px 0px;
	$my-position:absolute;
	$half-percent:50%;
	$med-size:16px;
	